
:root {
	/* Facebook blue */
	--primary-color: #337ab7;
	--primary-color-dark: #337ab7;

	/* Facebook blue */
	--secondary-color: #337ab7;

	/* white */
	--tertiary-color: #FFFFFF;

	/* white background */
	--body-background-color: #FFFFFF;
}
